:root {
    --unified-width: 100%;
    --unified-font: 'Open Sans', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

#appContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 18.9rem;
}

#appIcon {
    margin-top: 2rem;
    margin-bottom: 0.2rem;
}

h4 {
    margin: 0.1rem;
    margin-bottom: 1rem;
    font-family: var(--unified-font);
}

#buttonContainer {
    width: var(--unified-width);
}

#firstRainSound {
    background-image: url("images/rain_img_1.jpg");
    background-position: center;
    opacity: 0.7;
}

#secondRainSound {
    background-image: url("images/rain_img_2.jpg");
    background-position: center;
    opacity: 0.7;
}

#thirdRainSound {
    background-image: url("images/rain_img_3.jpg");
    background-position: left;
    opacity: 0.7;
}

.rainSoundButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--unified-width);
    height: 3.5rem;
    background-color: gray;
    margin: 0 0;
    outline: 0;
    font-family: var(--unified-font);
}

.rainSoundDescription {
    margin-right: 2rem;
    color: white;
    font-family: var(--unified-font);
}

.playButton {
    background-image: url("icons/playIcon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2rem;
    justify-self: flex-start;
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 1rem;
}

#buttonContainer>div:focus {
    opacity: 1;
}

footer {
    font-family: var(--unified-font);
}